.headingStyle {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.profileItems {
    border: 1px solid black;
    margin: 100px;
}

.employeeProfile {
    float: left;
    width: 50%;
    margin: 60px;
    font-weight: bolder;
}

.datatable {
    padding: 50px;
}

.employeeProfile a {
    text-transform: uppercase;
    font-weight: lighter;
}

.employeeProfile br {
    margin: 10px;
}

.btn {
    margin: 50px;
    padding: 5px;
    margin-top: 0px;
}