.headingStyle {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
}

.profileItems {
    border: 1px solid black;
    margin: 100px;
}

.employeeProfile {
    float: left;
    width: 50%;
    margin: 60px;
    font-weight: bolder;
}

.datatable {
    padding: 50px;
}

.employeeProfile a {
    text-transform: uppercase;
    font-weight: lighter;
}

.employeeProfile br {
    margin: 10px;
}

.btn {
    margin: 50px;
    padding: 5px;
    margin-top: 0px;
}
.zoom{
    display: block;
    margin-left: 10%;
    margin-right: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 60%;
    margin: auto;
    margin-top: 10%;
    padding: 2rem;
    text-align: center;
    background-color: whitesmoke;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  .button {
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: #393939; 
    color: white;
  }
  .workDetails p{
      display: inline-block;
      padding: 2rem;
  }
  button:hover, a:hover {
  opacity: 0.7;
}

  .button:hover, a:hover {
    background-color: #393939; 
    opacity: 0.7;
  }
  h3{
      font-family: auto;
  }
  /* a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  } */