.form {
    position: relative;
    margin-top: 20px;
    margin-left: 250px;
    padding: 20px;
    border-left: 1px solid rgb(21, 109, 131);
    width: 50%;
}

.form .header{
    position: relative;
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid rgb(21, 109, 131);
}

.form .header .backBtn{
    position: absolute;
    right: 0;
    text-decoration: none;
    border: 1px solid black;
    color: black;
    font-weight: bold;
    padding: .4rem;
}

.form .header .backBtn:hover{
    background: black;
    color: white;
}

.form .submitBtn {
    margin: 10px;
}

.form .errorMsg {
    color: tomato;
    font-size: small;
}

h3{
    margin-left: 1rem;
}

.toast {
    position: fixed;
    right: 0;
    top: 2em;
}
