@import "~carbon-components/css/carbon-components.min.css";

.h1 {
  padding-bottom: 2rem;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

.loginform {
  position: relative;
  margin: 2rem auto;
  background-color: whitesmoke;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  width: fit-content;
  height: fit-content;
  border-radius: 1px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 4rem;
  top: 8rem;
}

.checked {
  margin-top: 0.5rem;
}

.logoutbutton {
  margin-top: 2rem;
  margin-right: 3rem;
  position: relative;
  width: 7rem;
}

.registerbutton {
  margin-top: 2rem;
  margin-left: 3rem;
  position: relative;
  width: 7rem;
}

.link{
  margin-top: 2rem;
  margin-left: 0.65rem;
  position: relative;
}

.ampath{
  position: relative;
  padding: 0.5rem;
  margin: 1rem;
  width: 20rem;
  background-color: whitesmoke;
  font-weight: bold;
  border: 1px solid whitesmoke;
}

//width is 250px or more
@media screen and (min-width: 250px) {
  body {
    transition:all .2s linear; 
    -o-transition:all .2s linear; 
    -moz-transition:all .2s linear; 
    -webkit-transition:all .2s linear;
    width: max-content;
    margin: 1rem;
    height: fit-content;
  }
}

// // @media screen and (max-width:1500px) {
// //   body {
// //     transition:all .2s linear; 
// //     -o-transition:all .2s linear; 
// //     -moz-transition:all .2s linear; 
// //     -webkit-transition:all .2s linear;
// //     width:150rem;
// //     margin: 1rem 1rem;
// //     //margin: auto;
// //   }
// //   img { 
// //     width:15rem; 
// //  }
// // }

// // @media screen and (min-width: 201px) {
// //   body {
// //     display: grid;
// //   }
// // }

// // /* If the screen size is 600px or less, set the font-size of <div> to 30px */
// // @media screen and (max-width: 1600px) {
// //   body {
// //     display: grid;
// //   }
// // }